body {
  background-color: rgb(215, 220, 230);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#max-width-outer {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#max-width-inner {
  width: 821px;
  max-width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#c {
  border: 1px solid rgb(131, 131, 131);
}

.hidden {
  display: none;
}
.controls {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 650px;
  justify-content: left;
  height: 160px;
  align-content: space-around;
}

button {
  width: 90px;
  height: 40px;
  font-size: 1rem;
}

.wide-input {
  width: 600px;
}

#thumbs {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 100%;
  padding-left: 20px;
}

.preset {
  width: 100px;
  height: 100px;
}

.preset:hover {
  cursor: pointer;
}